{% extends 'MainView.html' %}
{% load static %}
{% block title %}
    Profilis
{% endblock %}
{% load static %} 

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/errors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile.css' %}">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1>Profilo informacija</h1>
        <!-- Button to toggle edit mode -->
        <button type="button" class="btn btn-primary custom-button" id="editProfileBtn">Redaguoti</button>
    </div>
    {% if show_report_button %}
        <button type="button" class="btn btn-danger custom-button" id="reportProfileBtn">Pranešti</button>
    {% endif %}
    {% if messages %}
        <div class="error-container">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% elif message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="profile-info" id="profileInfoContainer">
        <div class="profile-info-item">
            {% if user_id %}
                <p>Unikalus numeris: {{ user_id }}</p>
            {% else %}
                <p>Unikalus numeris nepasiekiamas</p>
            {% endif %}
        </div>
        <div class="profile-info-item">
            {% if username %}
                <p>Slapyvardis: {{ username }}</p>
            {% else %}
                <p>Slapyvardis nepasiekiamas</p>
            {% endif %}
        </div>
        <div class="profile-info-item">
            {% if vardas %}
                <p>Vardas: {{ vardas }}</p>
            {% else %}
                <p>Vardas nepasiekiamas</p>
            {% endif %}
        </div>
        <div class="profile-info-item">
            {% if pavarde %}
                <p>Pavardė: {{ pavarde }}</p>
            {% else %}
                <p>Pavardė nepasiekiama</p>
            {% endif %}
        </div>
        <div class="profile-info-item">
            {% if telefonas %}
                <p>Telefono numeris: {{ telefonas }}</p>
            {% else %}
                <p>Telefono numeris nepasiekiamas</p>
            {% endif %}
        </div>
        <div class="profile-info-item">
            {% if gimimo_Data %}
                <p>Gimimo data: {{ gimimo_Data }}</p>
            {% else %}
                <p>Gimimo data nepasiekiama</p>
            {% endif %}
        </div>
        <div class="profile-info-item">
            {% if el_pastas %}
                <p>Elektroninis paštas: {{ el_pastas }}</p>
            {% else %}
                <p>Elektroninis paštas nepasiekiamas</p>
            {% endif %}
        </div>



        <div class="separator">
            <div class="separator-line"></div>
            <div class="separator-label">Žaidėjo statistika</div>
        </div>

        <div class="summoner-box">
        <div class="info"><strong>Tier:</strong> {{ tier }}</div>
        <div class="info"><strong>Rank:</strong> {{ rank }}</div>
        <div class="info"><strong>LP:</strong> {{ LP }}</div>
        <div class="info"><strong>Wins:</strong> {{ wins }}</div>
        <div class="info"><strong>Losses:</strong> {{ losses }}</div>
        </div>

        <div class="separator">
            <div class="separator-line"></div>
            <div class="separator-label">Paskutiniai 5 matchai</div>
        </div>


        <div class="match-box" style="background-color: {% if match1.win %}lightblue{% else %}lightcoral{% endif %}">
            <div class="match-header">
                <div class="champion-info">
                    <img src="{% static 'images/championTiles/' %}{{ match1.championName }}_0.jpg">
                    <div>
                        <div class="champion-name">{{ match1.championName }}</div>
                        <div class="champion-level">Level {{ match1.champLevel }}</div>
                        <div class="match-duration">Duration: {{ match1.matchDurationMinutes }}m {{ match1.matchDurationSeconds }}s</div>
                    </div>
                </div>
                <div class="outcome">
                    {% if match1.win %}
                        Won
                    {% else %}
                        Lost
                    {% endif %}
                </div>
            </div>
            <div class="match-details">
                <div class="stats">
                    <div class="stat">KDA: {{ match1.kills }}/{{ match1.deaths }}/{{ match1.assists }}</div>
                    <div class="stat">Lane: {{ match1.lane }}</div>
                    <div class="stat">Damage Dealt: {{ match1.totalDamageDealt }}</div>
                    <div class="stat">Damage Taken: {{ match1.totalDamageTaken }}</div>
                    <div class="stat">Minions Killed: {{ match1.totalMinionsKilled }}</div>
                    <div class="stat">Wards Killed: {{ match1.wardsKilled }}</div>
                    <div class="stat">Wards Placed: {{ match1.wardsPlaced }}</div>
                </div>
            </div>
        </div>



        <div class="match-box" style="background-color: {% if match2.win %}lightblue{% else %}lightcoral{% endif %}">
            <div class="match-header">
                <div class="champion-info">
                    <img src="{% static 'images/championTiles/' %}{{ match2.championName }}_0.jpg">
                    <div>
                        <div class="champion-name">{{ match2.championName }}</div>
                        <div class="champion-level">Level {{ match2.champLevel }}</div>
                        <div class="match-duration">Duration: {{ match2.matchDurationMinutes }}m {{ match2.matchDurationSeconds }}s</div>
                    </div>
                </div>
                <div class="outcome">
                    {% if match2.win %}
                        Won
                    {% else %}
                        Lost
                    {% endif %}
                </div>
            </div>
            <div class="match-details">
                <div class="stats">
                    <div class="stat">KDA: {{ match2.kills }}/{{ match2.deaths }}/{{ match2.assists }}</div>
                    <div class="stat">Lane: {{ match2.lane }}</div>
                    <div class="stat">Damage Dealt: {{ match2.totalDamageDealt }}</div>
                    <div class="stat">Damage Taken: {{ match2.totalDamageTaken }}</div>
                    <div class="stat">Minions Killed: {{ match2.totalMinionsKilled }}</div>
                    <div class="stat">Wards Killed: {{ match2.wardsKilled }}</div>
                    <div class="stat">Wards Placed: {{ match2.wardsPlaced }}</div>
                </div>
            </div>
        </div>



        <div class="match-box" style="background-color: {% if match3.win %}lightblue{% else %}lightcoral{% endif %}">
            <div class="match-header">
                <div class="champion-info">
                    <img src="{% static 'images/championTiles/' %}{{ match3.championName }}_0.jpg">
                    <div>
                        <div class="champion-name">{{ match3.championName }}</div>
                        <div class="champion-level">Level {{ match3.champLevel }}</div>
                        <div class="match-duration">Duration: {{ match3.matchDurationMinutes }}m {{ match3.matchDurationSeconds }}s</div>
                    </div>
                </div>
                <div class="outcome">
                    {% if match3.win %}
                        Won
                    {% else %}
                        Lost
                    {% endif %}
                </div>
            </div>
            <div class="match-details">
                <div class="stats">
                    <div class="stat">KDA: {{ match3.kills }}/{{ match3.deaths }}/{{ match3.assists }}</div>
                    <div class="stat">Lane: {{ match3.lane }}</div>
                    <div class="stat">Damage Dealt: {{ match3.totalDamageDealt }}</div>
                    <div class="stat">Damage Taken: {{ match3.totalDamageTaken }}</div>
                    <div class="stat">Minions Killed: {{ match3.totalMinionsKilled }}</div>
                    <div class="stat">Wards Killed: {{ match3.wardsKilled }}</div>
                    <div class="stat">Wards Placed: {{ match3.wardsPlaced }}</div>
                </div>
            </div>
        </div>


        <div class="match-box" style="background-color: {% if match4.win %}lightblue{% else %}lightcoral{% endif %}">
            <div class="match-header">
                <div class="champion-info">
                    <img src="{% static 'images/championTiles/' %}{{ match4.championName }}_0.jpg">
                    <div>
                        <div class="champion-name">{{ match4.championName }}</div>
                        <div class="champion-level">Level {{ match4.champLevel }}</div>
                        <div class="match-duration">Duration: {{ match4.matchDurationMinutes }}m {{ match4.matchDurationSeconds }}s</div>
                    </div>
                </div>
                <div class="outcome">
                    {% if match4.win %}
                        Won
                    {% else %}
                        Lost
                    {% endif %}
                </div>
            </div>
            <div class="match-details">
                <div class="stats">
                    <div class="stat">KDA: {{ match4.kills }}/{{ match4.deaths }}/{{ match4.assists }}</div>
                    <div class="stat">Lane: {{ match4.lane }}</div>
                    <div class="stat">Damage Dealt: {{ match4.totalDamageDealt }}</div>
                    <div class="stat">Damage Taken: {{ match4.totalDamageTaken }}</div>
                    <div class="stat">Minions Killed: {{ match4.totalMinionsKilled }}</div>
                    <div class="stat">Wards Killed: {{ match4.wardsKilled }}</div>
                    <div class="stat">Wards Placed: {{ match4.wardsPlaced }}</div>
                </div>
            </div>
        </div>

        <div class="match-box" style="background-color: {% if match5.win %}lightblue{% else %}lightcoral{% endif %}">
            <div class="match-header">
                <div class="champion-info">
                    <img src="{% static 'images/championTiles/' %}{{ match5.championName }}_0.jpg">
                    <div>
                        <div class="champion-name">{{ match5.championName }}</div>
                        <div class="champion-level">Level {{ match5.champLevel }}</div>
                        <div class="match-duration">Duration: {{ match5.matchDurationMinutes }}m {{ match5.matchDurationSeconds }}s</div>
                    </div>
                </div>
                <div class="outcome">
                    {% if match5.win %}
                        Won
                    {% else %}
                        Lost
                    {% endif %}
                </div>
            </div>
            <div class="match-details">
                <div class="stats">
                    <div class="stat">KDA: {{ match5.kills }}/{{ match5.deaths }}/{{ match5.assists }}</div>
                    <div class="stat">Lane: {{ match5.lane }}</div>
                    <div class="stat">Damage Dealt: {{ match5.totalDamageDealt }}</div>
                    <div class="stat">Damage Taken: {{ match5.totalDamageTaken }}</div>
                    <div class="stat">Minions Killed: {{ match5.totalMinionsKilled }}</div>
                    <div class="stat">Wards Killed: {{ match5.wardsKilled }}</div>
                    <div class="stat">Wards Placed: {{ match5.wardsPlaced }}</div>
                </div>
            </div>
        </div>



    </div>
</div>

    <style>

        .summoner-box {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 16px;
            max-width: 300px;
            margin: 0 auto;
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #829399;
            color: #fff;
        }
        .summoner-box h2 {
            margin-top: 0;
        }
        .summoner-box .info {
            margin: 8px 0;
        }


        .match-duration {
        font-size: 14px;
        color: #777; /* Adjust color as needed */
        }


        .separator {
        position: relative;
        margin: 20px 0; /* Margin above and below the separator */
        }

        .separator-line {
            border-top: 1px solid #ddd; /* Horizontal line */
        }

        .separator-label {
            position: absolute;
            top: -25px; /* Adjust to move the text above the line */
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            padding: 5px 20px; /* Adjust padding as needed */
            font-size: 18px; /* Adjust font size as needed */
            color: #333; /* Adjust color as needed */
            border: 2px solid #999; /* Add a border */
            border-radius: 20px; /* Add border radius */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
        }

        /* CSS styles go here */
        .match-box {
            background-color: lightblue; /* Blue by default */
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 20px;
            overflow: hidden;
        }


        .match-box.won {
            background-color: lightblue !important;
        }


        .match-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
        }

        .champion-info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .champion-name {
            margin-right: 2px
        }

        .champion-level {
            margin-left: 2px
        }

        .champion-info img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .champion-name {
            font-size: 18px;
            font-weight: bold;
        }

        .champion-level {
            font-size: 14px;
            color: #777;
        }

        .outcome {
            font-size: 18px;
            font-weight: bold;
            color: {% if match4.won %}#4CAF50{% else %}#F44336{% endif %}; /* Green for victory, red for defeat */
        }

        .match-details {
            padding: 20px;
        }

        .stats {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 10px;
        }

        .stat {
            margin-bottom: 5px;
            font-size: 14px;
        }
    </style>

    <!-- Editing form (initially hidden) -->
    <form id="editProfileForm" style="display: none;" action="{% url 'profilis:save_profile_changes' %}" method="post">

        {% csrf_token %}
        <!-- Include input fields for each profile information item -->
        <div class="profile-info-item">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ username }}">
        </div>
        <div class="profile-info-item">
            <label for="vardas">Vardas:</label>
            <input type="text" id="vardas" name="vardas" value="{{ vardas }}">
        </div>
        <div class="profile-info-item">
            <label for="pavarde">Pavardė:</label>
            <input type="text" id="pavarde" name="pavarde" value="{{ pavarde }}">
        </div>
        <div class="profile-info-item">
            <label for="telefonas">Telefono numeris:</label>
            <input type="text" id="telefonas" name="telefonas" value="{{ telefonas }}">
        </div>
        <div class="profile-info-item">
            <label for="gimimo_Data">Gimimo data:</label>
            <div class="input-box">
                <input type="date" name="birthday" placeholder="Gimimo data" required>
                <i class='bx bx-calendar' ></i>
              </div>
        </div>
        <div class="profile-info-item">
            <label for="el_pastas">Elektroninis paštas:</label>
            <input type="text" id="el_pastas" name="el_pastas" value="{{ el_pastas }}">
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Išsaugoti</button>
    </form>

    <script>
        document.getElementById("editProfileBtn").addEventListener("click", function() {
            // Toggle visibility of the editing form
            var editProfileForm = document.getElementById("editProfileForm");
            editProfileForm.style.display = editProfileForm.style.display === "none" ? "block" : "none";
    
            // Toggle visibility of the profile information container
            var profileInfoContainer = document.getElementById("profileInfoContainer");
            profileInfoContainer.style.display = profileInfoContainer.style.display === "none" ? "block" : "none";
    
            // Set the value of the date input field to the current gimimo_Data
            var gimimo_Data = "{{ gimimo_Data }}";  
            var birthdayInput = document.getElementsByName("birthday")[0];
            // Check if gimimo_Data is a valid date string
            if (gimimo_Data && gimimo_Data !== 'None') {
                birthdayInput.value = gimimo_Data;
            }
        });
    </script>
    
{% endblock %}
