{% extends 'base.html' %}
{% load static %} 

{% block title %}
    Kraujo Tyrimai
{% endblock %}

{% block content %}
    <style>
        .form-container {
            margin-top: 20px; /* Adjust the margin-top value as needed */
        }
        .chart-img {
            margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/errors.css' %}">
    <h1>Kraujo tyrimų sekimas</h1>
    {% if messages %}
        <div class="error-container">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if chart %}
        <img src="data:image/png;base64, {{chart|safe}}" class="chart-img">
    {% endif %}
    <div class="form-container">
        <h2>Pridėti kraujo tyrimą</h2>
        <form method="post" action="{% url 'kraujo_tyrimai:create_kraujo_tyrimas' %}">
            {% csrf_token %}
            <label for="id_data">Data:</label>
            <input type="date" name="data" id="id_data">
            <label for="id_fenilalaninas">Fenilalaninas µmol/l:</label>
            <input type="number" name="fenilalaninas" id="id_fenilalaninas">
            <input type="submit" value="Pridėti">
        </form>
    </div>
    
{% endblock %}
