{% extends 'base.html' %}
{% load static %} 

{% block title %}
    List of Teams
{% endblock %}

{% block content %}
    <style>
        .form-container {
            margin-top: 20px;
        }
        .chart-img {
            margin-bottom: 20px;
        }
        /* New styles for the table */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .hidden {
            display: none; /* Add a CSS class to hide elements */
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/errors.css' %}">
    <h1>List of all teams</h1>
    {% if messages %}
        <div class="error-container">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if chart %}
        <img src="data:image/png;base64, {{chart|safe}}" class="chart-img">
    {% endif %}
    
    <!-- Check if the user has a team -->
    {% if user_team %}
        <div class="form-container">
            <h2>My team</h2>
            <table>
                <thead>
                    <tr>
                        <th>Team Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user_team.pavadinimas }}</td>
                        <td>
                            {% if user_team.id %}
                                <a href="{% url 'kraujo_tyrimai:delete_team' user_team.id %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'kraujo_tyrimai:edit_team' user_team.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'kraujo_tyrimai:view_team' user_team.id %}" class="btn btn-primary">View</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="form-container">
            <h2>Create a team</h2>
            <!-- Button to navigate to the create team form -->
            <a href="{% url 'kraujo_tyrimai:create_team_form' %}" class="btn btn-primary">Create a Team</a>
        </div>
    {% endif %}
    
    <!-- Creation form -->
    <div id="createFormContainer" class="form-container hidden"></div>
    
    <!-- Update the 'Visos komandos' section in the HTML template -->
    <h2>All teams</h2>
    <table>
        <thead>
            <tr>
                <th>Team Title</th>
                <th>Possible action</th> <!-- Add a header for the actions column -->
            </tr>
        </thead>
        <tbody>
            {% for team in all_teams %}
                <tr>
                    <td>{{ team.pavadinimas }}</td>
                    <td>
                        <a href="{% url 'kraujo_tyrimai:view_team' team.id %}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- JavaScript to toggle the creation form -->
    <script>
        // Function to toggle between showing/hiding the creation form
        function toggleCreateForm() {
            var formContainer = document.getElementById('createFormContainer');
            formContainer.classList.toggle('hidden');
            if (!formContainer.innerHTML.trim()) {
                // Load the creation form if it's not already loaded
                fetch("{% url 'kraujo_tyrimai:create_team_form' %}")
                    .then(response => response.text())
                    .then(data => formContainer.innerHTML = data);
            }
        }

        // Add event listener to the button
        document.getElementById('showCreateFormBtn').addEventListener('click', function() {
            // Show the creation form
            toggleCreateForm();
        });
    </script>
{% endblock %}
