<!-- confirm_delete_team.html -->
{% extends 'MainView.html' %}

{% block title %}
    Confirm team deletion
{% endblock %}

{% block content %}
    <h1>Do you really want to delete "{{ team.pavadinimas }}" team?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="confirmation" value="true">
        <button type="submit" class="btn btn-danger">Yes, delete it</button>
        
        <a href="{% url 'teams:teamsview' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
