{% extends 'MainView.html' %}
{% load static %}

{% block title %}
    Edit Tournament
{% endblock %}

{% block content %}
    <style>
        .form-container {
            margin-top: 20px;
        }
        .form-container form {
            display: flex;
            flex-direction: column;
        }
        .form-container label {
            margin-top: 10px;
        }
        .form-container input, .form-container select {
            padding: 5px;
            margin-top: 5px;
        }
        .form-container button {
            margin-top: 20px;
            padding: 10px;
        }
    </style>

    <div class="form-container">
        <h1>Edit Tournament</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ tournament.title }}" required>

            <label for="max_participants">Title:</label>
            <input type="text" id="max_participants" name="max_participants" value="{{ tournament.max_participants }}" required>
            
            <label for="rankRequirement">Rank requirement:</label>

            <select name="rankRequirement" id="rankRequirement" required>
                <option value="UNRANKED" {% if tournament.rankRequirement == "UNRANKED" %}selected{% endif %}>UNRANKED</option>
                <option value="IRON" {% if tournament.rankRequirement == "IRON" %}selected{% endif %}>IRON</option>
                <option value="BRONZE" {% if tournament.rankRequirement == "BRONZE" %}selected{% endif %}>BRONZE</option>
                <option value="SILVER" {% if tournament.rankRequirement == "SILVER" %}selected{% endif %}>SILVER</option>
                <option value="GOLD" {% if tournament.rankRequirement == "GOLD" %}selected{% endif %}>GOLD</option>
                <option value="PLATINUM" {% if tournament.rankRequirement == "PLATINUM" %}selected{% endif %}>PLATINUM</option>
                <option value="EMERALD" {% if tournament.rankRequirement == "EMERALD" %}selected{% endif %}>EMERALD</option>
                <option value="DIAMOND" {% if tournament.rankRequirement == "DIAMOND" %}selected{% endif %}>DIAMOND</option>
                <option value="MASTER" {% if tournament.rankRequirement == "MASTER" %}selected{% endif %}>MASTER</option>
                <option value="GRANDMASTER" {% if tournament.rankRequirement == "GRANDMASTER" %}selected{% endif %}>GRANDMASTER</option>
                <option value="CHALLENGER" {% if tournament.rankRequirement == "CHALLENGER" %}selected{% endif %}>CHALLENGER</option>
            </select><br><br>
            
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock %}
