{% extends 'MainView.html' %}
{% load static %}

{% block title %}
    Score Board
{% endblock %}

{% block content %}
    <h2>Score Board</h2>
    <table class="score-board">
        <thead>
            <tr>
                <th>Position |</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            {% for team in tournament_teams %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Assuming position is based on the order in the list -->
                    <td>{{ team.pavadinimas }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("register-btn").addEventListener("click", function() {
                window.location.href = "{% url 'tournaments:register_choose_form' tournament.id %}";
            });
        });
        function toggleScoreBoard() {
            window.location.href = "{% url 'tournaments:score_board' tournament.id %}";
        }
    </script>
    
{% endblock %}
